// out: style.min.css, compress: false, sourceMap: true

*{   
    font-family: 'Montserrat', sans-serif;
    line-height: 160%;
}

@xxl: 1400px;
@xl: 1200px;
@lg: 992px;
@md: 768px;
@sm: 576px;

//Light template
@white: #fff;
@medium_grey:#868D93;
@red: #CC1F1F;
@black: #121212;
@medium_blue: #0F4066;
@dark_blue: #143C5B;
@grey:#E2E2E2;


//dark template
@soft_grey_template_dark: #F2F2F2;
@grey_template_dark:#808080;
@red_template_dark: #a51212;
@dark_blue_template_dark: #0A1E2D;
@black_template_dark:#181818;


body {  
    --bg-gradient: linear-gradient(180deg, @red 250px, @white 250px, @white 350px,  @dark_blue 350px, @dark_blue 700px, @dark_blue 80%, @dark_blue_template_dark 120%); 
    --bg-color: @white;
    --text-color: @black;
    --text-colorBox: @black_template_dark;
    --text-white: @white; 

    --bg-color-grey: @grey;
    --text-color-blue: @dark_blue;
    --element-color-grey: @white;
    --text-color-red: @red;
    --element-small-color-grey: @soft_grey_template_dark;


    &.dark {
        --bg-gradient:linear-gradient(180deg, @red_template_dark 250px, @grey_template_dark 250px, @grey_template_dark 350px,  @dark_blue_template_dark 350px, @dark_blue_template_dark 700px, @dark_blue_template_dark 80%, @black 120%);
        --bg-color: @black;
        --text-color: @soft_grey_template_dark;
        --text-colorBox: @grey;
        --text-white: @grey;


        --bg-color-grey: @black_template_dark;
        --text-color-blue: @dark_blue_template_dark;
        --element-color-grey: @grey_template_dark;
        --element-small-color-grey: #6d6d6d;
        --text-color-red: @red_template_dark;
    }
}

.fc-gray{color: var(--element-small-color-grey);}
.fc-medium-gray{color: @medium_grey;}
.fc-red{color: var(--text-color-red);}
.fc-black{
    color: var(--text-colorBox);
    transition: 0.75s color 0.15s ease-in-out;
}
.fc-white{
    color: var(--text-white);
    transition: 0.75s color 0.15s ease-in-out;
}

.bg-white{
    background-color: var(--bg-color) !important;
    transition: 0.75s background-color 0.15s ease-in-out;
}
.bg-dark-blue{background-color: var(--text-color-blue);}


html {
    background-color: darken(@dark_blue, 2%);
}
body {
    background: var(--bg-gradient);
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
} 

h1{ font-weight: 700;}

h2, h3, h4, h5, h6, .h2,.h3,.h4,.h5,.h6{ font-weight: 600; text-align: left;}

q {font-style: italic;}

h2{
    .fc-black;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 2px solid var(--text-color-red);
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;

    &::after{
        margin-top: 3px;
        margin-bottom: -1px;
        display: block;
        content: '';
        width: 160px;
        border-bottom: 3px solid var(--text-color-red);
    }
}

ul{
    padding-left: 1.5rem;
    & li{
        margin-top: 0.5rem;
    }
}

.font-very-small{ font-size: 0.5rem; }
.text-justify{ text-align: justify; }
.no-list-style{ list-style-type: none;}

body.dark button.btn-close{
    filter: invert(100%);
}

.preloader {
    align-items: center;
    background: @white;
    display: flex;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 9000;
    pointer-events: none;
    opacity: 1;
    &.loaded{
        pointer-events: all;
        cursor: wait;
    }
    &.hide{
        opacity: 0 !important;
        transition: opacity 0.5s ease-in-out ;
        cursor: auto;
    }

    & img{
        animation: loading 0.5s ease-in-out;
        animation-iteration-count: 1;
    }
    @keyframes loading{
        0%   {opacity: 0;}
        100% {opacity: 1;}
    }
    & span{
        position: fixed;
        font-size: 1.5rem;
        font-weight: bold;
        color: @grey;

    }
    @media (max-width: @lg) {
        & span{
            font-size: 1.25rem;
        }
    }
    @media (max-width: @sm) {
        & img{
            transform: scale(0.75);
        }
        & span{
            font-size: 1rem;
        }
    }
}  

.img-load-lazy{
    min-height: 100px;
    min-width: 100px;
    width: 100%;
    background: url(../img/img_load.gif);
    background-size: 64px;
    background-position: center center;
    background-repeat: no-repeat;

    body.dark &{
        background: url(../img/img_load_dark.gif);
        background-size: 64px;
        background-position: center center;
        background-repeat: no-repeat;
    }
}


#box-left{
    position: relative;
    top: 150px;
    margin-left: calc(-50% - 61px);
    width: 50%;
    height: 300px;
    background-color: var(--element-color-grey); 
    overflow: hidden;
    border-radius: 2px;
    z-index: -1;
}

#arrow-left {
    content: '';
    position: absolute;
    top: 150px;
    left: -50px;
    width: 0px;
    height: 300px;
    border-style: solid;
    border-width: 150px 0 150px 260px;
    border-color: transparent transparent transparent var(--element-color-grey); ;
    z-index: -1;

    span{
        display: inline-block;
        position: relative;
        top: -16px;
        left: -250px;
        z-index: -1;
    }
    @media (max-width: @sm) {
        span{
            left: -220px;
        }
    
    }
}

#bg-white-addition-left{
    @media (max-width: @md) {
        & {
           max-width: 768px !important;
           width: 768px !important;
        }
    }

}

body.dark #photoDR{
    filter: brightness(80%);
    transition: 0.75s all 0.15s ease-in-out;
}

#arrow-left-small{
    content: '';
    position: absolute;
    top: 260px;
    left: 140px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 40px 0 40px 70px;
    border-color: transparent transparent transparent var(--element-small-color-grey);
    z-index: -1;

    @media (max-width: @lg) {
        & {
            position: fixed;
            top: 283px;
            left: calc(50vw - 42px);
            border-width: 42px 30px 0 30px ;
            border-color: var(--element-small-color-grey) transparent transparent transparent ;
        }
    }
}

@media (min-width: @lg) {
    .fixed-lg-top{
        position: fixed;
    }
}
.fixed-pos-top{
    position: fixed;
}

.box-shadow-12{
    box-shadow: 0px 3px 12px -6px @black;

    body.dark &{
        box-shadow: 0px 2px 15px -9px @soft_grey_template_dark;
    }
}

.box-shadow-14{
    box-shadow: 0px 0px 14px -10px @black;

    body.dark &{
        box-shadow: 0px 0px 14px -10px @soft_grey_template_dark;
    }
}


@media (max-width: @lg) {
    .no-shadow-xl{
        box-shadow: none !important;
    }
}



#dr_logo{
    height: 80px;
    width: 130px;
    text-align: center; 
    background-image:url("../img/dr_logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;

    & img{
        height: 28px;
    }

    @media (min-width: @lg) and (max-width: @xl) {
        height: 74px;
        width: 120px;
    }
    @media (max-width: @lg) {
        height: 66px;
        width: 100px;
        background-size: 78%;
        border: 2px solid var(--element-color-grey);
        box-shadow: 0px 0px 10px -2px @medium_grey !important;
        & img{
            height: 24px;
        }
    }
    body.dark & {
        background-image:url("../img/dr_logo_dark.svg");
    }
}




a.nav-link, .link{   
    text-decoration: none;
    color: var(--text-color);
    font-weight: 400;
    background: none;

    &:hover, &.active{
        color: var(--text-color-red) !important;
        font-weight: 500;

        & img.icon{
            filter: grayscale(0%);
        }
    }

    & img.icon{
        height: 32px;
        filter: brightness(50%) grayscale(100%);
    }
}

img.icon-black{
    height: 48px;
    transition: 0.75s all 0.15s ease-in-out;

    body.dark &{
        filter: invert(84%);
    }
}

img.icon-white{
    height: 48px ;
    filter: brightness(800%) grayscale(100%);
    
    body.dark &{
        filter: brightness(620%) grayscale(100%);
    }
}

body.dark {
    a.nav-link, .link{   
        &:hover, &.active{
            & img.icon{
                filter: brightness(80%) grayscale(0%);
            }
        }
        & img.icon{
            filter: brightness(580%) grayscale(100%);
        }
    }
    img.icon-red{
        filter: brightness(78%) grayscale(0%);
    }
}



#navbar-box{
    z-index: 300 !important;
    @media (max-width: @lg){
        & {
            transition: 0s all ease-in-out;
            position: fixed; 
            right: 0;
        }
    }
}


.navbar-nav {
    top: 220px;
    padding: .75rem 0rem;
    & .nav-item .nav-link{
        text-transform: uppercase;
        text-align: center;
        font-size: 0.75rem;
        padding: .5rem 0rem;
        font-weight: 600;
        width: 130px;
        border-left: 3px solid transparent; 
        margin-right: 3px;
        & img{
            height: 36px;
            display: block;
            margin: auto;
            margin-bottom: 0.2rem;
        }
        &.active {
            border-left: 3px solid var(--text-color-red);
        }
    }

    @media (max-width: @xl) {
        & .nav-item{
            padding: 0rem 0rem;
        }
        & .nav-item .nav-link{
            padding: .25rem 0rem;
            width: 120px;
        
            & img{
                height: 32px !important;
                margin-bottom: 0.125rem;
            }
        }
    }  
}



@media (max-width: @lg) {
    #navbar-nav-box{
        position: absolute;
        top: 50px;
        right: -2px;

        & ul::before{
            content: '';
            display: block;
            height: 28px;
        }
    }
}

#download-CV{
    display: block;

    &::before{
        content: '';
        display: block;
        width: 64%;
        max-width: 220px;
        margin: auto;
        border-top: 1px solid @grey;
        padding-top: 0.5rem;
    }
}


#main {
    & .size100P{ 
        transform: scale(1) !important;
        transition: 0.6s all 0.15s ease-in-out;
        margin-top: 1rem;
        margin-bottom: 1rem;
        background: var(--bg-color);
    }
    
    & .size80P{ 
        transform: scale(0.85) translate(0%, -5%);
        margin-top: 0rem;
        margin-bottom: 0rem;
        transition: 0.5s all 0.25s ease-in-out;
        background: var(--bg-color-grey);

        @media (max-width: @md) {
            & {
                transform: scale(0.90) translate(0%, -2%);
            }
        }
    }

    &.col-10{
        opacity: 1;
        transition: 0.5s all 0.25s ease-in-out;
    }
    & .size80P .col-10{
        opacity: 0.7;
        transition: 0.5s all 0.25s ease-in-out;

        body.dark &{
            opacity: 0.4;
        }
    }
}

#textWrite::after{
    font-size: 2rem;
    content: '|';
    color: @white;
    font-weight: 600;
    margin-left: -2px;
}

#textWrite.pulse::after{
    animation: pulse 1s ease;
    animation-iteration-count: infinite
}

@keyframes pulse{
    0%   {    opacity: 1;   }
    25%  {    opacity: 0;   }
    50%  {    opacity: 1;   }
    75%  {    opacity: 0;   }
    100% {   opacity: 1;    }
}


#fixed-box div{
    z-index: 200;
}


.col-550{   
    margin:0;
    width: 100%;
    @media (min-width: @lg){
        & { max-width: 400px !important; }    //col 12=1320px col 10=1100px 5col=550px
    }
    @media (min-width: @xl){
        &{ max-width: 475px !important; }    //col 12=1320px col 10=1100px 5col=550px
    }
    @media (min-width: @xxl){
        &{ max-width: 550px !important; }    //col 12=1320px col 10=1100px 5col=550px
    }
}

//accordion bootstrap edit
.accordion-body{
    .fc-black;
    padding-top: 0;
    padding-bottom: 2rem;
}


.accordion-item button:first-child{
    .fc-black;
}

.accordion-button:not(.collapsed){
    border: none;
    box-shadow: none;
}

.accordion-button::after{
    position: absolute;
    top: calc(50% - 10px);
    right: 10px;
    filter: hue-rotate(120deg) brightness(0.75);
}

.accordion-button[aria-expanded="false"]::after{
    filter: invert(50%)
}

.accordion-button span.h5{
    margin-bottom: 0;
}


@media (max-width: @md){
    ul{
        padding-left: 1.25rem;
    }
    .accordion-item .accordion-button  { 
        padding-left: 0.25rem;
        padding-right: 1.25rem;
    }
    .accordion-item .accordion-body  { 
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .accordion-button::after{
        right: 0px;
    }
}

.accordion-button{
    padding-right: 2.5rem;
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion .accordion-item, .accordion .accordion-button{
    background: none;
}


#carouselPassions{
    opacity: 0.75;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 99%, @dark_blue 100%);

    .carousel-item{
        transition: opacity 1.5s ease-in-out;

        &::before{
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, var(--bg-color) 0%, rgba(255, 255, 255, 0) 72%);
            z-index: 100;
        }
    }
}

//extension css for bootstrap
.mb-n1 {margin-bottom: -0.25rem !important;}
.mb-n2 {margin-bottom: -0.5rem !important;}
.mb-n3 {margin-bottom: -1rem !important;} 
  
.modal-content{
    .fc-black;
    .bg-white;
}




//-------------------------do-spr------------------
@media (min-width: @lg) and (max-width: @xl){
    #person #name{
        font-size: 2rem;
    }
    #person #workplace{
        font-size: 0.72rem;
    }
}


#btnMenu{
    z-index: 300; 
    box-shadow: none;
    padding: 15px 1.5rem 14px 1.5rem ;
    border: 2px solid var(--element-color-grey);
    box-shadow: 0px 0px 10px -2px @medium_grey;

    & span{
        display: block;
        width: 32px;
        height: 3px;
        background-color: @medium_grey;
        margin-top: 6px;
        transition: 0.25s all ease-in-out;

        &:last-child{
            margin-bottom: 6px;
        }
    }

    &[aria-expanded="true"]{
        background-color: @medium_blue !important;
        & span{
            background-color: @grey
        }
        & :nth-child(2){
            transform: rotate(-90deg);
            opacity: 0;
        }
        & :nth-child(1){
            transform: rotate(45deg) translate(6.5px,6px);
        
        }
        & :nth-child(3){
            transform: rotate(-45deg) translate(6px,-6px);
        }
    }
}


 

#btnThemeIcon + label{
    background-color: @white;
    background-image: url(../img/light.svg);
}
#btnThemeIcon:checked + label{
    background-image: url(../img/dark.svg);
    background-color: @black;
}

#btnThemeIcon + label, #btnPrintIcon + label{
    position: fixed;
    right: 15px;
    top: 15px;
    height: 36px;
    width: 36px;
    background-size: 36px;
    background-position: center center;
    background-repeat: no-repeat;
    transition: 0.25s all ease-in-out;
    caret-color: transparent;
    padding: 22px;
    z-index: 400;
    opacity: 0.85;

    @media (max-width: @lg){
        &{
            display: block;
            height: 32px;
            width: 32px;
            position: relative;
            background-size: 32px;
            top: 12px;
            left: 7px;
            margin-right: 5px;
        }
    }
}

#btnThemeIcon:hover + label, #btnPrintIcon:hover + label{
        right: 11px;
        top: 11px;
        height: 36px;
        width: 36px;
        transition: 0.25s all ease-in-out;
        padding: 26px;
        opacity: 1;

        @media (max-width: @lg){
           &{
                top: 12px;
                left: 7px;
                padding: 22px;
            }
        }
}

#btnPrintIcon + label{
    background-color: @white;
    background-image: url(../img/print.svg);
    top: 74px;
    @media (max-width: @lg){
        &{
            top: 12px;
            left: 12px;
         }
     }
}

body.dark #btnPrintIcon + label{
    filter: invert(100);
}

#btnPrintIcon:hover + label{
    top: 70px;
    @media (max-width: @lg){
        &{
            top: 12px;
            left: 12px;
         }
    }
}

#motto {
    h3::after{
        content: '';
        display: block;
        width: 78%;
        max-width: 220px;
        margin: auto;
        border-bottom: 1px solid @grey;
        padding-bottom: 0.5rem;
    }

    #carouselMotto{
        .carousel-item{
            height: 90px;
        }
        button{
            opacity: 1;
            filter: saturate(0) brightness(0.85);

            body.dark &{
                filter: saturate(0) brightness(0.25);
            }

            &:hover{
                opacity: 1;
                filter: sepia(100%) hue-rotate(295deg) saturate(200) brightness(0.85);
            }

            body.dark &:hover{
                opacity: 1;
                filter: sepia(100%) hue-rotate(295deg) saturate(200) brightness(0.6);
            }
        }
        
    }
}


#umiejetnosci .card {
    border: 0px solid @grey;
    background: none;
    border: 1px solid lighten(@grey, 10%);
    .box-shadow-14;
    
    body.dark & {
        border: 1px solid darken(@grey, 70%);
    }

    & .card-body{
        transition: all 0.75s ease-in-out;
    }
    &:hover .card-body{
        filter: blur(3px);
        transition: all 0.75s ease-in-out;
    }

    & .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: all 0.5s 100ms ease-in-out;
        color: @white;

            &.ov-blue {
                background-color: @medium_blue;
            }
            &.overlay.ov-red {
                background-color: @red;
            }
            &.ov-grey {
                background-color: @grey_template_dark
            }
      }
    &:hover .overlay {
        transition: all 0.5s 100ms ease-in-out;
        border-radius: 3px;
        filter: blur(0px);
        opacity: 0.82;
    }
    .card-title{
        font-weight: 600;
    }
}

.tech{
    display: inline-block;
    padding: 0.25rem 0.75rem;
    border: 2px solid var(--text-color-red);
    border-radius: 10px;
    font-weight: 500;
    margin: 0.25rem 0.25rem 0.25rem 0rem;
    
    &.tech-grey{
        border: 2px solid @medium_grey;
    }
    &.tech.tech-blue{
        border: 2px solid @medium_blue;
    }
    @media (max-width: @md){
        &{
            padding: 0.25rem 0.5rem;
            font-size: 0.75rem;
         }
     }
}

.img-grayscale{
    filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
    opacity: 0.75;
}


.img-grayscale:hover{
    filter: grayscale(0%);
    transition: all 0.5s ease-in-out;
    opacity: 1
}
  
.chart-box .circlec-box {
    position: relative;
    width:  100px;
    height: 100px;

    & span.circle-value{
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        color: var(--text-colorBox);
        font-weight: 500;
    }
    
    & svg{
        display: block;
        width: 100%;
        height: 100%;    
        transform: rotate(-90deg);
        overflow: initial;
        
        & circle{
            stroke-width:15px;
            fill:none;   
            
            &.circle-grey{ 
                stroke: @grey; 
                stroke-dashoffset: 0;
                stroke-dasharray: 0;
                transition: all 2s 0.5s ease-in-out;
            }
            &.circle-color{ 
                stroke-width:16px;
                transition: all 0.5s ease-in-out;
            }
            &.circle-red{ stroke: saturate(@red, 10%); }
            body.dark &.circle-red{ stroke: @red_template_dark; }

            &.circle-blue{ stroke: lighten(@medium_blue, 10%);}
            body.dark &.circle-blue{ stroke: @medium_blue; }
            
            &.circle-medium-grey{ stroke: @grey_template_dark;}
        }
    } 
}

.circle-title{
    display: block;
    text-align: center;
    margin-top: 0.5rem;
    font-weight: 500;
}