// out: style_print.min.css, compress: false, sourceMap: false
@import "style.less";

* {
    box-shadow:none;
}

#preloader, #bg-white-addition-left, #textTyping, #textTypingMobile, #download-CV, #btnMenu, #navbar-nav-box, #ThemeIcon, #carouselPassions, #carouselMotto button{
    display: none !important;
}

body{
    background-color: #143C5B;
    background-attachment: scroll;
    // background-repeat: repeat;
}

html, body{
    width: 200mm;
    height: 297mm;
    margin: 0 auto;    
    padding: 0;  
}

ul{
    padding-left: 1.5rem;
}

ul li{
    margin-top: 0.25rem;
}

@page {
    size: A4;
    margin: 5mm;
    padding: 0;  
}

.container {
    max-width: 190mm;
}

#navbar-box, #dr_logo{
    position: relative;
}

.fixed-lg-top{
    position: relative;
}

.accordion-button::after {
    display: none;
}

main{
    background: var(--bg-color) !important;
}

#main div div section.box-shadow-12{ 
    position: relative;
    transform: scale(1) translate(0%) !important;
    margin: 0;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    background: var(--bg-color) !important;
    & .col-10{
        opacity: 1 !important;
    }
}

div.page-break-after{
    page-break-after: always;
    // margin-top: -22px;
    // height: 20px;
    // background-color: chocolate;
}


.stack-tech{
    page-break-after: avoid;
}


#urlWeb{
    margin: 0;
    color: @white;
    font-weight: 600;
}

.tooltip{
    display: none;
}

video{
    display: none;
}

.accordion-body{
    margin-bottom: -1rem;
}
.accordion-item{
    margin-top: 1rem;
}

#person{
    margin-top: 3rem !important;
    max-width:60%;
}

.img-grayscale{
    filter: grayscale(0%);
}

.box-shadow-12{
    box-shadow:none !important;
}

main .rounded-2{
    border-radius: 0 !important;
}

img#balans{
    width: 50%;
    margin: -15px 0;
}

img.icon-white{
    height: 32px;
    filter: brightness(800%) grayscale(100%);
    
    body.dark &{
        filter: brightness(620%) grayscale(100%);
    }
}
